{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div id="main_menu">
            <h1>Beyzanur Tokar's Docker Page</h1>
            <h3>You are getting the basic knowledge about containers, images, docker hub and you are going to learn how
                to start a project and access the container with the terminal using terminal commands.
            </h3>
            <br>
        </div>
        <div class="row md-4">
            <div class="col-8">
                <div id="main_content">
                    <h2 style="color:red"> Containers:</h2>
                    <p>
                        Containerization and virtualization look similar but they are for different purposes. Container
                        engine provides Apps Operating System (OS).
                    </p>
                    <p>
                        In Virtual Machines, all computer have their own RAM. In Containers, infrastructure has RAM.
                        Operating system have access to the RAM.
                    </p>
                    <p>
                    <h2 style="color:red"> Images:</h2>
                    </p>
                    <p>
                        A Docker image is a read-only template that contains a set of instructions for creating a
                        container
                        that can run on the Docker platform.
                    </p>
                    <p>
                    <h2 style="color:red"> The Docker Command:</h2>
                    </p>
                    <p>
                        We are using the command line because web servers have a composition.
                    </p>
                    <p>
                        “ docker ps ”
                    </p>
                    <p>
                        - See if anything already start it up.
                    </p>
                    <p>
                        “docker kill -image number-”
                    </p>
                    <p>
                        - Stop running images.
                    </p>
                    <p>
                        “docker compose up –build”
                    </p>
                    <p>
                        - Build an image.
                    </p>
                    <p>
                        “ docker run -itp 80:80 ubuntu “
                    </p>
                    <p>
                        - Run the image in port 80 of the network on your computer.
                    </p>
                    <p>
                    <h2 style="color:red">How to Start Project:</h2>
                    </p>
                    <p>
                        You can start the project using build an image command in the terminal. And you can access the
                        container by using “docker ps” command in the terminal.
                    </p>
                    <!-- Optional JavaScript; choose one of the two! -->

                    <!-- Option 1: Bootstrap Bundle with Popper -->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                            crossorigin="anonymous"></script>

                    <!-- Option 2: Separate Popper and Bootstrap JS -->
                    <!--
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
                    -->
                    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}