{% extends "base.html" %}
{% block content %}
    Index Page
    <div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
                    aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/git_image_pic.png') }}" class="d-block w-100 "
                     style="cursor:pointer" onclick="window.open('git_page', '_blank')"
                     alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/docker_pic.png') }}" class="d-block w-100"
                     style="cursor:pointer" onclick="window.open('docker_page', '_blank')"
                     alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/pythonFlask_pic.png') }}" class="d-block w-100"
                     style="cursor:pointer" onclick="window.open('python_flask_page', '_blank')"
                     alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/cicd_pc.png') }}" class="d-block w-100"
                     style="cursor:pointer" onclick="window.open('cicd_page', '_blank')"
                     alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/pylint_img.png') }}" class="d-block w-100"
                     style="cursor:pointer" onclick="window.open('pylint_others', '_blank')"
                     alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/solid_pic.png') }}" class="d-block w-100"
                     style="cursor:pointer" onclick="window.open('overview_solid', '_blank')"
                     alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/OOPS_pic.png') }}" class="d-block w-100"
                     style="cursor:pointer" onclick="window.open('oops_terms', '_blank')"
                     alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/assert_act_assert_img.png') }}" class="d-block w-100"
                     style="cursor:pointer" onclick="window.open('aaa_testing', '_blank')"
                     alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row md-4">
        <div class="col-sm">
            <div class="card" style="width: 48rem;">
                <div class="card-body">
                    <h5 class="card-title"> TECHNOLOGIES YOU ARE GOING TO LEARN IN THE WEB </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Beyzanur Tokar</h6>
                    <div class="fs-6">
                        <p class="card-text">
                            1. Git - Explain Branches, Merge, Commit, Tags, Repositories.
                        </p>
                        <p>

                            2. Docker - Explain containers, images, link to the project repository on docker hub,
                            explain all the docker commands that you know. Explain how to start the project and how to
                            access the container with the terminal using just terminal commands and not PyCharm
                        </p>
                        <p>
                            3. Python / Flask - Talk about testing with pytest and give examples from your code. Explain
                            how you created simple pages and how you tested it. Link to the project on Github Link to
                            flask, flask Blueprint documentation, and flask testing with PyTest. Explain the purpose of
                            every file in the project using an outline that represents the directory and file structure
                            of the project.
                        </p>
                        <p>
                            4.CI/CD overview
                        </p>
                        <p>

                        </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">WHO AM I?</h5>
                    <h6 class="card-subtitle mb-4 text-muted">Beyzanur Tokar</h6>
                    <div class="fs-6">
                        <p class="card-text">
                            I have a bachelor on computer engineer and am studing master of Information at NJIT. I
                            worked on a wide variety of interesting and meaningful projects in
                            both groups or individually to build immersive, beautiful, user-friendly and
                            frustration-free
                            applications. These projects mostly present the various aspects of both human-computer
                            interaction and user experience.
                        </p>
                        <p>
                            I am passionate about designing and providing human-in-the-loop systems that are solving
                            real
                            life problems by using emerging technologies and making sure that the subjects as well as
                            the
                            purposes of systems are very clear.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}